*{
    margin: 0px;
    font-family: 'Montserrat';
    opacity: 0;
    animation: _show 1s linear 100ms 1 normal forwards;
}
html{
    background-color: #87ceeb;
}
@keyframes _show{
    from{
        opacity: 0;
        background-color: #ffffff;
    }
    to{
        opacity: 1;
        background-color: #87ceeb;
    }
}
a{
    color: #0f14af;
    text-decoration: none;
    font-weight: 700;
    font-size: 30px;
    transition-property: all;
    transition-duration: 0.5s;
}
a:hover{
    color: #27bfe6;
}
.back-button{
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
    font-size: 30px;
    margin-left: 20px;
}
.video{
    margin-left: 20px;
    margin-right: 20px;
    width: 560px;
    height: 315px;
    margin-top: 50px;
}
.small-header-1{
    color: #04075e;
    font-weight: 700;
}
.small-header-2{
    color: #27bfe6;
    font-weight: 700;
}