*{
    margin: 0px;
    font-family: 'Montserrat';
    opacity: 0;
    animation: _show 1s linear 100ms 1 normal forwards;
}
@keyframes _show{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
body{
    height: max-content;
    background-color: cyan;
}
a{
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 50px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    transition-property: all;
    transition-duration: 0.5s;
    height: 243px;
    width: 243px;
}
.buttons-panel{
    display: grid;
    background: cyan;
    grid-template-columns: repeat(auto-fit, minmax(243px, 1fr));
    grid-auto-rows: 1fr 1fr 1fr;
}
a:hover{
    transform: scale(1.15, 1.15);
}
.main-header{
    background-color: chocolate;
    color: whitesmoke;
    text-align: center;
    font-size: 50px;
    line-height: 215px;
}