*{
    margin: 0px;
    font-family: 'Montserrat';
    animation: _show 1s linear 100ms 1 normal forwards;
    opacity: 0;
}
html{
    background-color: #87ceeb;
}
p{
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
    width: 1000px;
    line-height: 1.75;
}
a{
    color: #0f14af;
    text-decoration: none;
    font-weight: 700;
    font-size: 30px;
    transition-property: all;
    transition-duration: 0.5s;
}
a:hover{
    color: green;
}
.main-header{
    margin-left: 35%;
    color: #ffffff;
    font-size: 70px;
    font-weight: 700;
    text-transform: uppercase;
}
.back-button{
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
    font-size: 30px;
}
.small-header-1{
    color: #04075e;
    font-weight: 700;
}
.small-header-2{
    color: #166109;
    font-weight: 700;
}
.plant{
    width: 75px;
    height: 100px;
    margin-top: 25px;
    margin-right: 25px;
    margin-left: 30px;
    background: url("/img/plant.png");
}
.windstation{
    width: 71px;
    height: 109px;
    margin-top: 25px;
    margin-right: 25px;
    margin-left: 30px;
    background: url("/img/windstation.png");
}
.sun{
    width: 74px;
    height: 74px;
    margin-top: 25px;
    margin-right: 25px;
    margin-left: 30px;
    background: url("/img/sun.png");
}
.geothermal{
    width: 67px;
    height: 113px;
    margin-top: 25px;
    margin-right: 25px;
    margin-left: 30px;
    background: url("/img/geothermal.png");
}
.water{
    width: 46px;
    height: 68px;
    margin-top: 60px;
    margin-right: 45px;
    margin-left: 30px;
    background: url("/img/water.png");
}
.video{
    margin-left: 20px;
    margin-right: 20px;
    width: 560px;
    height: 315px;
    margin-top: 50px;
}
.main-header-2{
    color: #000000;
    font-size: 50px;
    font-weight: 700;
    padding-left: 100px;
    margin-bottom: 50px;
    margin-top: 50px;
}
@keyframes _show{
    from{
        opacity: 0;
        background-color: #ffffff;
    }
    to{
        opacity: 1;
        background-color: #87ceeb;
    }
}